
.profile > .profile-box > .box{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.profile > .profile-box > .box > img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.profile > .profile-box{
    text-decoration: none;
}
/* .profile {
    margin-right:250px;
} */
.profile > .box{
    margin: 40px auto;
}
.details{
    margin-left: 15px;
}
.profile > .profile-box >.box > .details > .username{
    font-weight: 900;
    color: #000000;
}
.details > .Name{
    color: #cccccc;
    font-size: 15px;
}

@media screen and (max-width:968px){
    .right_pane{
        display:none;
    }
}